<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>Registration</title>
    <script src = "script.js" defer></script>
</head>
<body>
    <div>
        <h1>Registration page</h1>  
    </div>
    <div>
        <form>
            <input type="text" name="name" placeholder="First name" class="register" required><br>
            <input type="text" name="email" placeholder="Email" class="register" required><br>
            <input type="password" name="password" placeholder="Password" class="register" required><br>
        </form>
        <input type="submit" name="submit" value="Register" id="registerButton">
        <p id="validateerrors"></p>
    </div>
</body>
</html>